:root {
    --main-color: #553c8b;
    --second-color: #9ea9f0;
    --third-color: #ccc1ff;
    --forth-color: #ffeafe;
}

* {
    margin: 0;
    padding: 0;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

body,
html {
    width: 100%;
    height: 100%;
    background-color: var(--third-color);
    font-family: 'Times New Roman', Times, serif;
    color: var(--main-color);
}

header {
    text-align: center;
}

.container-fluid  {
    background-color: var(--third-color);
    font-size: 20px;
}

.header {
    text-align: left;
}

#navbarToggleExternalContent li {
    list-style: none;
    height: 30px;
}

a, a:link {
    color: var(--main-color);
}

section {
    background-color: var(--forth-color);
}

h3 {
    font-weight: 800;
    margin: 1em 0 1em 0;
}

h4{
    font-weight: 600;
    margin: .5em 0 .5em 0;
}

h4, h3 + p, h3 + ul {
    padding-left: 2em;
}

h4 + p, h4 + ul, h4 + h5, p + p, ul + p {
    padding-left: 4em;
}

h5 + ul, p + ul {
    padding-left: 4em;
}

pre {
    background-color: lightgray;
    text-align: left;
    margin-left: 2rem;
}