* {
    margin: 0;
    padding: 0;
}

:root {
    --clock-size: 300px;
    --clock-outline-color: #ff0;
    --clock-background-color: #333;

    --hour-hand-length: 60px;
    --hour-hand-width: 6px;
    --hour-hand-color: coral;

    --mintue-hand-length: 80px;
    --mintue-hand-width: 4px;
    --mintue-hand-color: cornflowerblue;

    --second-hand-length: 100px;
    --second-hand-width: 2px;
    --second-hand-color: wheat;

    --point-length: 16px;
    --point-width: 2px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clock-background-color);
}

#clock {
    box-sizing: content-box;
    width: var(--clock-size);
    height: var(--clock-size);
    border: 5px solid var(--clock-outline-color);
    background-color: var(--clock-background-color);
    border-radius: 50%;
    box-shadow: 0 0 20px gray;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
}

.clock-point {
    position: relative;
    width: 100%;
    height: 100%;
}

.clock-point i {
    position: absolute;
    display: inline-block;
    height: var(--point-length);
    width: var(--point-width);
    top: calc(var(--clock-size) / 2 - var(--point-length) / 2);
    left: calc(var(--clock-size) / 2 - var(--point-width) / 2);
    background-color: #fff;
    transform-origin: 50% 50% 0;
    -webkit-transform-origin: 50% 50% 0;
    -moz-transform-origin: 50% 50% 0;
    -ms-transform-origin: 50% 50% 0;
    -o-transform-origin: 50% 50% 0;
    margin-left: calc(sqrt(3) * 300px);
}

.hour-hand,
.minute-hand,
.second-hand {
    position: absolute;
    transform-origin: 50% 100% 0;
    -webkit-transform-origin: 50% 100% 0;
    -moz-transform-origin: 50% 100% 0;
    -ms-transform-origin: 50% 100% 0;
    -o-transform-origin: 50% 100% 0;
}

.hour-hand {
    height: var(--hour-hand-length);
    width: 0;
    margin-left: calc((var(--clock-size) - var(--hour-hand-width)) / 2);
    margin-top: calc(var(--clock-size) / 2 - var(--hour-hand-length));
    border: var(--hour-hand-width) solid var(--hour-hand-color);
    background-color: var(--hour-hand-color);
    border-radius: var(--hour-hand-width);
    -webkit-border-radius: var(--hour-hand-width);
    -moz-border-radius: var(--hour-hand-width);
    -ms-border-radius: var(--hour-hand-width);
    -o-border-radius: var(--hour-hand-width);
}

.minute-hand {
    height: var(--mintue-hand-length);
    width: 0;
    margin-left: calc((var(--clock-size) - var(--mintue-hand-width)) / 2);
    margin-top: calc(var(--clock-size) / 2 - var(--mintue-hand-length));
    border: var(--mintue-hand-width) solid var(--mintue-hand-color);
    border-radius: var(--mintue-hand-width);
    background-color: var(--mintue-hand-color);
    -webkit-border-radius: var(--mintue-hand-width);
    -moz-border-radius: var(--mintue-hand-width);
    -ms-border-radius: var(--mintue-hand-width);
    -o-border-radius: var(--mintue-hand-width);
}

.second-hand {
    height: var(--second-hand-length);
    width: 0;
    margin-left: calc((var(--clock-size) - var(--second-hand-width)) / 2);
    margin-top: calc(var(--clock-size) / 2 - var(--second-hand-length));
    border: var(--second-hand-width) solid var(--second-hand-color);
    border-radius: var(--second-hand-width);
    background-color: var(--second-hand-color);
    -webkit-border-radius: var(--second-hand-width);
    -moz-border-radius: var(--second-hand-width);
    -ms-border-radius: var(--second-hand-width);
    -o-border-radius: var(--second-hand-width);
}