* {
    margin: 0;
    padding: 0;
}

:root {
    --clock-size: 300px;
    --clock-outline-color: #ff0;
    --clock-background-color: #333;

    --hour-hand-length: 60px;
    --hour-hand-width: 6px;
    --hour-hand-color: coral;

    --mintue-hand-length: 80px;
    --mintue-hand-width: 4px;
    --mintue-hand-color: cornflowerblue;

    --second-hand-length: 100px;
    --second-hand-width: 2px;
    --second-hand-color: wheat;

    --point-length: 16px;
    --point-width: 2px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clock-background-color);
}

.clock-outline {
    box-sizing: content-box;
    width: var(--clock-size);
    height: var(--clock-size);
    border: 5px solid var(--clock-outline-color);
    background-color: var(--clock-background-color);
    border-radius: 50%;
    box-shadow: 0 0 20px gray;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
}

.clock-point {
    position: relative;
    width: 100%;
    height: 100%;
}

.clock-point i {
    position: absolute;
    display: inline-block;
    height: var(--point-length);
    width: var(--point-width);
    top: calc(var(--clock-size) / 2 - var(--point-length) / 2);
    left: calc(var(--clock-size) / 2 - var(--point-width) / 2);
    background-color: #fff;
    transform-origin: 50% 50% 0;
    -webkit-transform-origin: 50% 50% 0;
    -moz-transform-origin: 50% 50% 0;
    -ms-transform-origin: 50% 50% 0;
    -o-transform-origin: 50% 50% 0;
    margin-left: calc(sqrt(3) * 300px);
}

.hour-hand,
.minute-hand,
.second-hand {
    position: absolute;
    transform-origin: 50% 100% 0;
    -webkit-transform-origin: 50% 100% 0;
    -moz-transform-origin: 50% 100% 0;
    -ms-transform-origin: 50% 100% 0;
    -o-transform-origin: 50% 100% 0;
}

.hour-hand {
    height: var(--hour-hand-length);
    width: 0;
    margin-left: calc((var(--clock-size) - var(--hour-hand-width)) / 2);
    margin-top: calc(var(--clock-size) / 2 - var(--hour-hand-length));
    border: var(--hour-hand-width) solid var(--hour-hand-color);
    border-radius: var(--hour-hand-width);
    -webkit-border-radius: var(--hour-hand-width);
    -moz-border-radius: var(--hour-hand-width);
    -ms-border-radius: var(--hour-hand-width);
    -o-border-radius: var(--hour-hand-width);
    animation: hour-run 43200s cubic-bezier(0.190, 1.000, 0.220, 1.000) infinite;
    -webkit-animation: hour-run 43200s cubic-bezier(0.190, 1.000, 0.220, 1.000) infinite;
}

.minute-hand {
    height: var(--mintue-hand-length);
    width: 0;
    margin-left: calc((var(--clock-size) - var(--mintue-hand-width)) / 2);
    margin-top: calc(var(--clock-size) / 2 - var(--mintue-hand-length));
    border: var(--mintue-hand-width) solid var(--mintue-hand-color);
    border-radius: var(--mintue-hand-width);
    -webkit-border-radius: var(--mintue-hand-width);
    -moz-border-radius: var(--mintue-hand-width);
    -ms-border-radius: var(--mintue-hand-width);
    -o-border-radius: var(--mintue-hand-width);
    animation: sixty-run 3600s cubic-bezier(0.190, 1.000, 0.220, 1.000) infinite;
    -webkit-animation: sixty-run 3600s cubic-bezier(0.190, 1.000, 0.220, 1.000) infinite;
}

.second-hand {
    height: var(--second-hand-length);
    width: 0;
    margin-left: calc((var(--clock-size) - var(--second-hand-width)) / 2);
    margin-top: calc(var(--clock-size) / 2 - var(--second-hand-length));
    border: var(--second-hand-width) solid var(--second-hand-color);
    border-radius: var(--second-hand-width);
    -webkit-border-radius: var(--second-hand-width);
    -moz-border-radius: var(--second-hand-width);
    -ms-border-radius: var(--second-hand-width);
    -o-border-radius: var(--second-hand-width);
    animation: sixty-run 60s cubic-bezier(0.190, 1.000, 0.220, 1.000) infinite;
    -webkit-animation: sixty-run 60s cubic-bezier(0.190, 1.000, 0.220, 1.000) infinite;
}

@keyframes sixty-run {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    1.66666667% {
        transform: rotate(6deg);
        -webkit-transform: rotate(6deg);
        -moz-transform: rotate(6deg);
        -ms-transform: rotate(6deg);
        -o-transform: rotate(6deg);
    }

    3.33333333% {
        transform: rotate(12deg);
        -webkit-transform: rotate(12deg);
        -moz-transform: rotate(12deg);
        -ms-transform: rotate(12deg);
        -o-transform: rotate(12deg);
    }

    5% {
        transform: rotate(18deg);
        -webkit-transform: rotate(18deg);
        -moz-transform: rotate(18deg);
        -ms-transform: rotate(18deg);
        -o-transform: rotate(18deg);
    }

    6.66666667% {
        transform: rotate(24deg);
        -webkit-transform: rotate(24deg);
        -moz-transform: rotate(24deg);
        -ms-transform: rotate(24deg);
        -o-transform: rotate(24deg);
    }

    8.333333333% {
        transform: rotate(30deg);
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        -o-transform: rotate(30deg);
    }

    10% {
        transform: rotate(36deg);
        -webkit-transform: rotate(36deg);
        -moz-transform: rotate(36deg);
        -ms-transform: rotate(36deg);
        -o-transform: rotate(36deg);
    }

    11.66666667% {
        transform: rotate(42deg);
        -webkit-transform: rotate(42deg);
        -moz-transform: rotate(42deg);
        -ms-transform: rotate(42deg);
        -o-transform: rotate(42deg);
    }

    13.3333333% {
        transform: rotate(48deg);
        -webkit-transform: rotate(48deg);
        -moz-transform: rotate(48deg);
        -ms-transform: rotate(48deg);
        -o-transform: rotate(48deg);
    }

    15% {
        transform: rotate(54deg);
        -webkit-transform: rotate(54deg);
        -moz-transform: rotate(54deg);
        -ms-transform: rotate(54deg);
        -o-transform: rotate(54deg);
    }

    16.66666667% {
        transform: rotate(60deg);
        -webkit-transform: rotate(60deg);
        -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        -o-transform: rotate(60deg);
    }

    18.33333333% {
        transform: rotate(66deg);
        -webkit-transform: rotate(66deg);
        -moz-transform: rotate(66deg);
        -ms-transform: rotate(66deg);
        -o-transform: rotate(66deg);
    }

    20% {
        transform: rotate(72deg);
        -webkit-transform: rotate(72deg);
        -moz-transform: rotate(72deg);
        -ms-transform: rotate(72deg);
        -o-transform: rotate(72deg);
    }

    21.66666667% {
        transform: rotate(78deg);
        -webkit-transform: rotate(78deg);
        -moz-transform: rotate(78deg);
        -ms-transform: rotate(78deg);
        -o-transform: rotate(78deg);
    }

    23.33333333% {
        transform: rotate(84deg);
        -webkit-transform: rotate(84deg);
        -moz-transform: rotate(84deg);
        -ms-transform: rotate(84deg);
        -o-transform: rotate(84deg);
    }

    25% {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }

    26.66666667% {
        transform: rotate(96deg);
        -webkit-transform: rotate(96deg);
        -moz-transform: rotate(96deg);
        -ms-transform: rotate(96deg);
        -o-transform: rotate(96deg);
    }

    28.33333333% {
        transform: rotate(102deg);
        -webkit-transform: rotate(102deg);
        -moz-transform: rotate(102deg);
        -ms-transform: rotate(102deg);
        -o-transform: rotate(102deg);
    }

    30% {
        transform: rotate(108deg);
        -webkit-transform: rotate(108deg);
        -moz-transform: rotate(108deg);
        -ms-transform: rotate(108deg);
        -o-transform: rotate(108deg);
    }


    31.66666667% {
        transform: rotate(114deg);
        -webkit-transform: rotate(114deg);
        -moz-transform: rotate(114deg);
        -ms-transform: rotate(114deg);
        -o-transform: rotate(114deg);
    }

    33.3333333% {
        transform: rotate(120deg);
        -webkit-transform: rotate(120deg);
        -moz-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
        -o-transform: rotate(120deg);
    }

    35% {
        transform: rotate(126deg);
        -webkit-transform: rotate(126deg);
        -moz-transform: rotate(126deg);
        -ms-transform: rotate(126deg);
        -o-transform: rotate(126deg);
    }

    36.66666667% {
        transform: rotate(132deg);
        -webkit-transform: rotate(132deg);
        -moz-transform: rotate(132deg);
        -ms-transform: rotate(132deg);
        -o-transform: rotate(132deg);
    }

    38.33333333% {
        transform: rotate(138deg);
        -webkit-transform: rotate(138deg);
        -moz-transform: rotate(138deg);
        -ms-transform: rotate(138deg);
        -o-transform: rotate(138deg);
    }

    40% {
        transform: rotate(144deg);
        -webkit-transform: rotate(144deg);
        -moz-transform: rotate(144deg);
        -ms-transform: rotate(144deg);
        -o-transform: rotate(144deg);
    }

    41.6666667% {
        transform: rotate(150deg);
        -webkit-transform: rotate(150deg);
        -moz-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
        -o-transform: rotate(150deg);
    }

    43.33333333% {
        transform: rotate(156deg);
        -webkit-transform: rotate(156deg);
        -moz-transform: rotate(156deg);
        -ms-transform: rotate(156deg);
        -o-transform: rotate(156deg);
    }

    45% {
        transform: rotate(162deg);
        -webkit-transform: rotate(162deg);
        -moz-transform: rotate(162deg);
        -ms-transform: rotate(162deg);
        -o-transform: rotate(162deg);
    }

    46.66666667% {
        transform: rotate(168deg);
        -webkit-transform: rotate(168deg);
        -moz-transform: rotate(168deg);
        -ms-transform: rotate(168deg);
        -o-transform: rotate(168deg);
    }

    48.33333333% {
        transform: rotate(174deg);
        -webkit-transform: rotate(174deg);
        -moz-transform: rotate(174deg);
        -ms-transform: rotate(174deg);
        -o-transform: rotate(174deg);
    }

    50% {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }

    58.3333333% {
        transform: rotate(210deg);
        -webkit-transform: rotate(210deg);
        -moz-transform: rotate(210deg);
        -ms-transform: rotate(210deg);
        -o-transform: rotate(210deg);
    }

    66.666667% {
        transform: rotate(240deg);
        -webkit-transform: rotate(240deg);
        -moz-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
        -o-transform: rotate(240deg);
    }

    75% {
        transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
    }

    83.3333333% {
        transform: rotate(300deg);
        -webkit-transform: rotate(300deg);
        -moz-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
        -o-transform: rotate(300deg);
    }

    91.6666667% {
        transform: rotate(330deg);
        -webkit-transform: rotate(330deg);
        -moz-transform: rotate(330deg);
        -ms-transform: rotate(330deg);
        -o-transform: rotate(330deg);
    }

    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

@keyframes hour-run {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    8.333333333% {
        transform: rotate(30deg);
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        -o-transform: rotate(30deg);
    }

    16.666666667% {
        transform: rotate(60deg);
        -webkit-transform: rotate(60deg);
        -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        -o-transform: rotate(60deg);
    }

    25% {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }

    33.3333333% {
        transform: rotate(120deg);
        -webkit-transform: rotate(120deg);
        -moz-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
        -o-transform: rotate(120deg);
    }

    41.6666667% {
        transform: rotate(150deg);
        -webkit-transform: rotate(150deg);
        -moz-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
        -o-transform: rotate(150deg);
    }

    50% {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }

    58.3333333% {
        transform: rotate(210deg);
        -webkit-transform: rotate(210deg);
        -moz-transform: rotate(210deg);
        -ms-transform: rotate(210deg);
        -o-transform: rotate(210deg);
    }

    66.666667% {
        transform: rotate(240deg);
        -webkit-transform: rotate(240deg);
        -moz-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
        -o-transform: rotate(240deg);
    }

    75% {
        transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
    }

    83.3333333% {
        transform: rotate(300deg);
        -webkit-transform: rotate(300deg);
        -moz-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
        -o-transform: rotate(300deg);
    }

    91.6666667% {
        transform: rotate(330deg);
        -webkit-transform: rotate(330deg);
        -moz-transform: rotate(330deg);
        -ms-transform: rotate(330deg);
        -o-transform: rotate(330deg);
    }

    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

@keyframes mintue-run {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}